// COLORS
// **********************************************************
$colorPrimary: #ffffff;
$colorAccent: #F19733;
$colorGrayLight: #313131;
$colorGrayDark: #292929;



// DIMENSIONS
// **********************************************************
$value: 70;
$navBarHeight: $value * 1px;
