// COLORS
// **********************************************************
$colorPrimary: #ffffff;
$colorAccent: #F19733;
$colorGrayLight: #313131;
$colorGrayDark: #292929;

$colorTextLight1: #f7f7f7;
$colorTextLight2: #d4d4d4;
$colorTextDark1: #2d2d2d;
$colorTextDark2: #1b1b1b;



// DIMENSIONS
// **********************************************************
$value: 70;
$navBarHeight: $value * 1px;
