<div class="content">
  <h1 class="title" style="color: #dddddd">ABC Text</h1>
  <ul id="sdt_menu" class="sdt_menu">
    <li>
      <a routerLink="/movies">
        <img src="../../../../assets/images/3.jpg" alt=""/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
							<span class="sdt_link">Movies</span>
							<span class="sdt_descr">Movies collection and review</span>
						</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../../assets/images/4.jpg" alt=""/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
							<span class="sdt_link">Photos</span>
							<span class="sdt_descr">Photo collection</span>
						</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="../../../../assets/images/1.jpg" alt=""/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
							<span class="sdt_link">Projects</span>
							<span class="sdt_descr">My private projects</span>
						</span>
      </a>
      <div class="sdt_box">
        <a href="#">Hobby</a>
        <a href="#">Household</a>
        <a href="#">Architect</a>
      </div>
    </li>

    <li>
      <a href="#">
        <img src="../../../../assets/images/5.jpg" alt=""/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
							<span class="sdt_link">SmartHouse</span>
							<span class="sdt_descr">Central Heating System</span>
						</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="../../../../assets/images/2.jpg" alt=""/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
							<span class="sdt_link">About me</span>
							<span class="sdt_descr">Get to know me</span>
						</span>
      </a>
    </li>
  </ul>
</div>

<div>
  <span class="reference">
    <a href="http://tympanus.net/codrops/2010/07/16/slide-down-box-menu/">back to the Codrops Tutorial</a>
    <a href="http://www.flickr.com/photos/arcticpuppy/sets/72157622090180990/">Images by tibchris</a>
  </span>
</div>
